.App {
  text-align: center;
  display: flex;
  flex-flow: row nowrap;
  height: 100vh;
  width: 100vw;
}

.sidebar {
    width: 30%;
}

 #search {
  width: 100%;
  height: 2rem;
  font-size: 1rem;
}

.venues {
  padding: 1rem;
}

.venue {
  list-style: none;
  font-size: 1rem;
  padding: .5rem;
  margin-top: 1rem;
  cursor: pointer;
  box-shadow: 1 1 1 rgba(0,0,0,0.3);
}